body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 98vh;
    padding: 0;
    margin: 0;
    background: rgb(255,0,172);
    background: radial-gradient(circle, rgba(255,0,172,1) 0%, rgba(9,9,121,1) 54%, rgba(2,0,36,1) 100%);

}

.btn {
    color: white;
    background-color: rgb(255,0,172);
    padding: 15px;
    border-radius:20px;
    font-size: xx-large;
}

header {
    display: flex;
    flex-flow: column nowrap;
    border: 3px solid black;
    width: 100%;
    height: 15px;
    padding: 1px;
    align-items: center;
    background-color: black;
    color: white;
    justify-content: center;
    font-size:x-small;
}

footer {
    display: flex;
    flex-flow: column nowrap;
    border: 3px solid black;
    width: 100%;
    height: 15px;
    padding: 1px;
    align-items: center;
    background-color: black;
    color: white;
    justify-content: center;
    font-size:x-small;
}

main {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.playgame {
    display: flex;
    flex-flow: column nowrap;
    visibility: hidden;
    width: 100%;
    height: 100%;
    align-items: center;
    z-index: 1;
}

.scoreboard {
    display: flex;
    flex-flow: row nowrap;
    width:100%;
    justify-content: center;
    background-color: rgba(255,0,172,0.1);
    /* visibility: hidden; */
}

#wins, #losses, #timer {
    color:white;
    font-weight: bolder;
    align-self:center;
    margin: 10px;
    border: 3px outset black;
    padding: 5px;
    width: max-content;
    background-color: rgba(10,10,10,0.4);
    text-align: center;
}

#separator {
    height: auto;
    width: 3px;
    background-color: black;
    margin-top: 3px;
    margin-bottom: 3px;
    
}
.number {
    font-size:300%;
    text-shadow: 0px 5px 10px blue;
}

.arena {
    display: flex;
    flex-flow: column nowrap;
    padding: 5px;
    margin: 5px;
    width: 80%;
    height: 100%;
    align-items: center;
    border-radius:65px;
    background-color: rgba(0,0,0,0.3);
    /* visibility: hidden; */
}

.questionbox {
    display: flex;
    flex-flow: column nowrap;
    background-color: rgba(0,128,128,0.3);
    border: 3px solid teal;
    border-radius: 65px;
    padding: 5px;
    width: 100%;
    color: white;
    align-items: center;
    justify-content:center;
    font-size: xxx-large;
    height: 120px;
}

#question {
    width:80%;
}

.choicebox {
    display: flex;
    width: 75%;
    height:65%;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-block: 55px;
}

#choices {
    display: flex;
    width: 100%;
    padding: 5px;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.select {
    color: white;
    border: 5px dashed teal;
    background-color: blue;
}

.choicebox ul li {
    display: inline-flex;
    border-radius: 5px;
    width: 15%;
    padding: 10px;
    cursor:grab;
    justify-content: center;

}

.choicebox ul li:hover {
    border: 6px dashed green;
    box-shadow: 0px 0px 10px grey;
}
.start-stop{
    display: flex;
    position: absolute;
    height:65%;
    justify-content:center;
    align-items: center;
    width: 50%;
    z-index: 0;
    background-color: rgba(0,128,128,0.7);
    border-radius: 50px;
    border: 5px solid rgb(128, 128, 128);
}
.result-box {
    border-radius: 50px;
    display: flex;
    position:absolute;
    flex-flow: column nowrap;
    visibility: hidden;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 0;
}
.scoreboxes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 65%;
    width: 100%
}

.no-scores {
    display: flex;
    flex-direction: column;
    height: 65%;
    width:40%;
    
}

.submission {
    padding: 10px;    
}

.inits {
    font-size: x-large;
    width: auto;
    
}
.start-box {
    border-radius: 50px;
    display: flex;
    position:absolute;
    flex-flow: column nowrap;
    visibility: visible;
    opacity:unset;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

#start-button{
    width: initial;
}

#instruct {
    width: 75%;

}

.reset {
    display: none;
}

.topscores {
    display: flex;
    flex-flow: column nowrap;
    border: 3px solid purple;
    float: right;
    position:relative;
    padding: 10px;
    align-items: center;
    width: 40%;
}

#high-score {
    font-size: large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    text-align:center;
}

.scoreList {
    list-style-type: none;
    padding: 10px;
}

.scoreItem:nth-child(even) {
    background-color:rgba(211,211,211,0.5);
}

.scoreItem:nth-child(odd) {
    background-color: rgba(2,0,15,0.2);
}

#trash {
    width:30px;
    height: auto;
    fill: rgb(153, 5, 5);  
}

.title-block {
    padding-bottom:10%;
}

#welcome {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:xxx-large;
    text-shadow: 0px 0px 15px red;
    text-align: top;
    margin-bottom:-10px;
    color:white;
}

#tag-line {
    color:white;
    margin-top: 0;
    text-align: right;
}

#completed {
    font-size: xx-large;
    margin-bottom: 25px;
    font-weight: bolder;
    color:rgb(255,0,172);
    text-shadow: 0px 0px 3px black;
}

#time-score, #question-score {
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    font-size: x-large;
}